.Layout {
  --header-height: 60px;
  --menus-width: 240px;
  --menus-collapsed-width: 72px;

  $blur: 10px;
  $menu-bg: color-mix(in srgb, var(--bg-color-page), transparent 40%);
  $transition-duration: 0.2s;
  $transition-timing: ease-in-out;
  $container-padding: 12px 24px;
  $fade-duration: 0.3s;
  $fade-easing: ease;

  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 999;
    backdrop-filter: blur($blur);
    padding: 8px 24px 8px 16px;
  }

  .menus {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--menus-width);
    height: calc(100vh - var(--header-height));
    transition: transform $transition-duration $transition-timing;
    z-index: 999;
    transform: translateX(-100%);
    background-color: $menu-bg;
    backdrop-filter: blur($blur);
  }

  .container {
    margin-top: var(--header-height);
    transition: margin-left $transition-duration $transition-timing;
    padding: $container-padding;
    .fade-enter-active,
    .fade-leave-active {
      transition: all $fade-duration $fade-easing;
    }
    .fade-enter-from {
      opacity: 0;
    }
    .fade-leave-to {
      opacity: 0;
      transform: translateX(50px);
      filter: blur(30px);
    }
  }
}
.open {
  .menus {
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  .Layout {
    .menus {
      transform: translateX(0);
      width: var(--menus-width);
    }
    .container {
      margin-left: var(--menus-width);
    }
  }
  .open {
    .menus {
      transform: translateX(0);
      width: var(--menus-collapsed-width);
      transition: none !important;

      :deep(.menus_main a) {
        transition: none !important;
      }
      :deep(.title),
      :deep(.line) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      :deep(.menus_main a span:not(.dots):not(.VIcon):not(.VIcon-wrapper)) {
        display: none;
      }
      :deep(.menus_main a span) {
        transition: none !important;
      }
      :deep(.menus_main a .dots) {
        width: 22.5px;
        height: 22.5px;
        transform: scale(0.55);
        border-radius: 50%;
      }
    }
    .container {
      margin-left: var(--menus-collapsed-width);
    }
  }
}
