.Layout {
  --header-height: 60px;
  --menus-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 8px 16px;
  }

  .menus {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--menus-width);
    height: calc(100vh - var(--header-height));
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    transform: translateX(-100%);
    background-color: var(--bg-color-page);
  }

  .container {
    margin-top: var(--header-height);
    flex: 1;
    min-height: 0;
    overflow: auto;
    transition: margin-left 0.2s ease-in-out;
  }
}
.open {
  .menus {
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  .Layout {
    .menus {
      transform: translateX(0);
    }
    .container {
      margin-left: var(--menus-width);
    }
  }
  .open {
    .menus {
      transform: translateX(-100%);
    }
    .container {
      margin-left: 0;
    }
  }
}
