.Layout {
  width: 100%;
  display: flex;
  --menus-width: 250px;
  .menus {
    height: 100vh;
    width: var(--menus-width);
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }
  .main {
    padding: 24px 0;
    width: 100%;
    margin-left: var(--menus-width);
    .fade-enter-active {
      transition: opacity 0.3s ease;
    }
    .fade-leave-active {
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }
    .fade-enter-from {
      opacity: 0;
    }
    .fade-leave-to {
      opacity: 0;
      transform: translateX(200px);
    }
  }
}
