.Menus {
  padding: 24px 12px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    li {
      width: 100%;
      padding: 8px;
      border-radius: 10px;
    }
  }
}
