.TopBar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  padding: 0 24px;
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 9999px;
    font-size: 18px;
    cursor: pointer;
  }
}
.avatar_dropdown {
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 24px;
}
@media (max-width: 768px) {
  .TopBar {
    padding: 0 16px;
    .avatar {
      padding: 6px;
      font-size: 16px;
    }
  }
  .avatar_dropdown {
    width: 100%;
    padding: 16px;
  }
}
