.TopBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  padding: 0 24px;
  .title {
    justify-self: start;
  }
  .search {
    justify-self: center;
  }
  .user {
    justify-self: end;
  }
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 9999px;
    font-size: 18px;
    cursor: pointer;
  }
}
.avatar_dropdown {
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 24px;
}
@media (max-width: 768px) {
  .TopBar {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding: 0 16px;
    .search {
      margin-left: auto;
    }
  }
}
