@use './font/regular/regular.css';
@use './font/medium/medium.css';
@use './theme/index.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: LXGWWenKai-Medium;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
input,
textarea,
select,
button {
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
