@use './font/regular/regular.css';
@use './font/medium/medium.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  // font-family: LXGWWenKai-Regular;
  font-family: LXGWWenKai-Medium;
  user-select: none;
}
input,
textarea,
select,
button {
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
