.MobileSideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--layout-sidebar-width-mobile);
  height: 100vh;
  background-color: var(--color-bg-mobile-sidebar);
  z-index: 1000;
  overflow-y: auto;
}
