.Layout {
  display: flex;
  flex-direction: column;
  .topBar {
    position: fixed;
    height: var(--layout-topbar-height);
    width: 100%;
    z-index: 10;
  }
  .content {
    margin-top: var(--layout-topbar-height);
    display: flex;
    flex: 1;
    .sideBar {
      position: fixed;
      width: var(--layout-sidebar-width);
      height: calc(100vh - var(--layout-topbar-height));
      z-index: 10;
    }
    .main {
      padding: var(--space-3) var(--space-5);
      margin-left: var(--layout-sidebar-width);
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: var(--space-5);
    }
  }
}
.collapse {
  .content {
    .sideBar {
      width: var(--layout-sidebar-width-collapsed);
    }
    .main {
      margin-left: var(--layout-sidebar-width-collapsed);
    }
  }
}
@media (max-width: 768px) {
  .Layout {
    .topBar {
      height: var(--layout-topbar-height-mobile);
    }
    .content {
      margin-top: var(--layout-topbar-height-mobile);
      .sideBar {
        display: none;
        width: 0;
      }
      .main {
        margin-left: 0;
        padding: var(--space-3) var(--space-3);
      }
    }
  }
}
