.Layout {
  --topBar-height: var(--layout-topbar-height);
  --sideBar-width: var(--layout-sidebar-width);
  display: flex;
  flex-direction: column;
  .topBar {
    position: fixed;
    height: var(--topBar-height);
    width: 100%;
    z-index: 10;
  }
  .content {
    margin-top: var(--topBar-height);
    display: flex;
    flex: 1;
    .sideBar {
      position: fixed;
      width: var(--sideBar-width);
      height: calc(100vh - var(--topBar-height));
      z-index: 10;
    }
    .main {
      padding: var(--space-3) var(--space-5);
      margin-left: var(--sideBar-width);
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-5);
      overflow-x: hidden;
    }
  }
}
.collapse {
  --sideBar-width: var(--layout-sidebar-width-collapsed);
}
@media (max-width: 768px) {
  .Layout {
    --layout-topbar-height: 48px;
    --sideBar-width: 0;
    .content {
      .sideBar {
        display: none;
      }
      .main {
        margin-left: 0;
        padding: var(--space-3) var(--space-3);
      }
    }
  }
}
