.sideBar {
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .box {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: bold;
      margin-bottom: 12px;
      margin-left: 9px;
      font-size: 14px;
      color: #727272;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 4px;
      li {
        .active {
          background-color: #f1f2f5;
          color: inherit;
          svg {
            color: #000000;
          }
        }
        a {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
          text-decoration: none;
          color: #6b7280;
          transition: all 0.3s ease;
          padding: 9px 10px;
          border-radius: 10px;
          &:hover {
            background-color: #f1f2f5;
          }
          .text {
            font-size: 15px;
          }
          svg {
            font-size: 21px;
            color: #51515192;
          }
          .color {
            margin: 0 6px;
            width: 8px;
            height: 8px;
            border-radius: 9999px;
          }
        }
      }
    }
  }
}
.collapse {
  .box {
    .title {
      display: none;
    }
    ul {
      li {
        a {
          justify-content: center;
          .text {
            display: none;
          }
          .color {
            margin: 0;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
