.sideBar {
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .box {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: bold;
      margin-bottom: 12px;
      margin-left: 12px;
      font-size: 14px;
      color: #727272;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      li {
        a {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
          text-decoration: none;
          color: inherit;
          transition: all 0.3s ease;
          padding: 11px 12px;
          border-radius: 10px;
          &:hover {
            background-color: #ededed;
          }
          .text {
            font-size: 15px;
          }
          svg {
            font-size: 21px;
            color: #51515192;
          }
          .color {
            margin: 0 6px;
            width: 8px;
            height: 8px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
