.Tags {
  display: flex;
  align-items: center;
  gap: 8px;
  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1 1 auto;
    width: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
  ul {
    display: flex;
    gap: 12px;
    align-items: center;
    width: max-content;
    flex-wrap: nowrap;
    li {
      border-radius: 5px;
      overflow: hidden;
      font-size: 14px;
      a {
        padding: 4px 12px;
        display: flex;
        width: 100%;
      }
      .active {
        background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 5%);
        font-weight: 900;
      }
    }
  }
  .controls {
    flex: none;
    display: flex;
    gap: 8px;
  }
  .btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 5%);
    border: 1px solid color-mix(in srgb, var(--bg-color-item), var(--black) 10%);
    color: var(--black);
    cursor: pointer;
    user-select: none;
  }
}
