.Search {
  padding: 10px 16px;
  background-color: #efefef;
  color: #6d6d6d;
  border-radius: 10px;
  width: 80vw;
  max-width: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      font-size: 14px;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    background-color: #d8d8d8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
