.Search {
  padding: 12px 16px;
  background-color: #f9f9fa;
  color: #727272;
  border-radius: 10px;
  width: 80vw;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .text {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      font-size: 14px;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    background-color: #fcfbfd;
    border: 1px solid #d0d0d061;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .Search {
    max-width: none;
    width: auto;
    padding: 8px;
    border-radius: 9999px;
    .icon {
      display: none;
    }
    .text {
      color: #000;
      p {
        display: none;
      }
    }
  }
}
