.Header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    display: flex;
    align-items: center;
    gap: 12px;
    > span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      transition:
        background-color 0.2s ease,
        opacity 0.2s ease;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
      outline: none;
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    a {
      font-size: 20px;
      font-weight: bold;
    }
    .VIcon {
      opacity: 0.6;
      transition: opacity 0.2s ease;
      pointer-events: none;
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 12px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    width: 30vw;
    max-width: 500px;
    opacity: 0.6;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    > :last-child {
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      transition: all 0.2s ease;
      aspect-ratio: 1 / 1;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 12px;
      font-weight: bold;
      transform: scale(0.8);
      font-style: italic;
    }
  }
}
.mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .search {
    margin-top: 60px;
    width: 40vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 10px;
    max-width: 600px;
    .search-container {
      display: flex;
      align-items: center;
      gap: 12px;
      input {
        outline: none;
        border: none;
      }
    }
  }
}
.v-enter-active {
  transition: opacity 0.3s ease;
}
.v-leave-active {
  transition: opacity 0.2s linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
