.Menus {
  font-size: 14px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .active {
    background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 5%);
    font-weight: bold;
    i {
      opacity: 1 !important;
    }
  }
  .line {
    height: 1px;
    width: 100%;
    margin: 8px auto;
    background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 10%);
  }
  .title {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.6;
    padding-left: 12px;
    margin-top: 24px;
  }
  .menus_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    li {
      cursor: pointer;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      a {
        padding: 6px 12px;
        display: flex;
        gap: 12px;
        align-items: center;
        transition: all 0.2s;
        &:hover {
          background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 5%);
          i {
            opacity: 1 !important;
          }
        }
        .dots {
          width: 22.5px;
          height: 22.5px;
          transform: scale(0.4);
          border-radius: 50%;
          background-color: #28c840;
        }
        i {
          font-size: 18px;
          opacity: 0.6;
        }
      }
    }
  }
}
