:root {
  --layout-topbar-height: 58px;
  --layout-topbar-height-mobile: 48px;
  --layout-sidebar-width: 245px;
  --layout-sidebar-width-collapsed: 67px;
  --layout-sidebar-width-mobile: 50vw;
  --layout-footer-height: 40px;
}
