:root {
  --radius-xs: 3px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 16px;
  --radius-2xl: 18px;
  --radius-3xl: 20px;
  --radius-4xl: 22px;
  --radius-5xl: 24px;
  --radius-2px: 2px;
  --radius-4px: 4px;
  --radius-6px: 6px;
  --radius-8px: 8px;
  --radius-full: 9999px;
}
