:root {
  --size-icon-xs: 12px;
  --size-icon-sm: 16px;
  --size-icon-md: 21px;
  --size-icon-lg: 18px;
  --size-icon-xl: 20px;
  --size-icon-2xl: 28px;
  --size-dot: 8px;
  --size-dot-collapsed: 12px;
}
