:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;

  --space-2px: 2px;
  --space-3px: 3px;
  --space-5px: 5px;
  --space-6px: 6px;
  --space-10px: 10px;
  --space-14px: 14px;
  --space-18px: 18px;
  --space-20px: 20px;
  --space-28px: 28px;
  --space-30px: 30px;
  --space-32px: 32px;
  --space-36px: 36px;
  --space-40px: 40px;
  --space-48px: 48px;

  --space-control-y: 9px;
  --space-control-x: 10px;
  --space-sidebar-padding-x: 14px;
  --space-title-indent: 9px;
  --space-dot-gap: 6px;
}
