:root {
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-md: 18px;

  --font-size-10px: 10px;
  --font-size-11px: 11px;
  --font-size-11-5px: 11.5px;
  --font-size-12px: 12px;
  --font-size-12-5px: 12.5px;
  --font-size-13px: 13px;
  --font-size-13-5px: 13.5px;
  --font-size-14-5px: 14.5px;
  --font-size-15-5px: 15.5px;
  --font-size-16px: 16px;
  --font-size-20px: 20px;
  --font-size-28px: 28px;
  --font-size-32px: 32px;
  --font-size-36px: 36px;
  --font-size-40px: 40px;
  --font-size-42px: 42px;
}
