.Articles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    .img {
      transform: scale(1.02) rotate(-1deg);
      box-shadow: color-mix(in srgb, rgba(0, 0, 0, 0.01), var(--black) 15%) 0px 0px 15px 5px;
    }
  }

  &.load-more {
    cursor: default;
    &:hover {
      .img {
        transform: none;
        box-shadow: none;
      }
    }
    .img {
      cursor: pointer;
      &:hover {
        transform: scale(1.02) rotate(-1deg);
        box-shadow: color-mix(in srgb, rgba(0, 0, 0, 0.01), var(--black) 15%) 0px 0px 15px 5px;
      }
    }
  }

  .img {
    position: relative;
    aspect-ratio: 8 / 5;
    background-color: color-mix(in srgb, var(--bg-color-item), var(--black) 5%);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.3s ease;
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .read_total {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
      color: #fff;
      padding: 4px 8px;
      border-radius: 999px;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .info {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 12px;
    padding: 12px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ddd;
  }

  .desc {
    display: grid;
    gap: 2px;

    .title {
      font-weight: 900;
      line-height: 1.5;
    }
    .author {
      font-size: 14px;
      opacity: 0.8;
    }
    .arguments {
      font-size: 14px;
      opacity: 0.8;
      display: flex;
      gap: 4px;
    }
  }
}
@media (max-width: 480px) {
  .Articles {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
